<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find prius_description)/urdf/prius.urdf"/>
  <arg name="x" default="-50"/>
  <arg name="y" default="-423"/>
  <arg name="z" default="0.70"/>
  <arg name="R" default="0.0"/>
  <arg name="P" default="0.0"/>
  <arg name="Y" default="0.0"/>
  <param name="robot_description" textfile="$(arg model)"/>

  <node name="spawn_urdf" 
	  pkg="gazebo_ros" 
	  type="spawn_model"
	  args="-param robot_description -model prius
	  	-urdf -x $(arg x) -y $(arg y) -z $(arg z) 
	  	      -R $(arg R) -P $(arg P) -Y $(arg Y)"
  />
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <!-- <remap from="robot_description" to="different_robot_description" /> -->
    <!-- <remap from="joint_states" to="/prius/joint_states" /> -->
    
  </node>

</launch>
