<?xml version="1.0"?>
<launch>
  <arg name="road_model" default="$(find prius_description)/urdf/road.urdf"/>
  <arg name="model" default="$(find prius_description)/urdf/prius.urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"
	  pass_all_args="true">
    <param name="robot_description" textfile="$(arg model)"/>
  </include>
  
    <node name="spawn_road" pkg="gazebo_ros" type="spawn_model" args="-param road_description -urdf -x 0 -y -20 -z 0.5 -Y -1.5707 -model road">
      <param name="road_description" textfile="$(arg road_model)"/>
    </node>

  <!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y -10 -z 0.5 -Y -1.5707 -model mcity"/-->
</launch>
